<!DOCTYPE html>
<html>
<head>
    <title>well_Sent.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
    <link rel="stylesheet" type="text/css" href="../public/css/style.css">
    <link rel="stylesheet" href="https://unpkg.com/blaze/scss/dist/blaze.min.css">
</head>
<body>
<div class="container-fluid">
    <header id="topbar" class="row">
        <ul class="c-nav c-nav--inline">
          <li class="c-nav__item"><i class="fas fa-home"></i> Home</li>
          <li class="c-nav__item"><i class="fas fa-star"></i> News</li>
          <li class="c-nav__item c-nav__item--right"><i class="fas fa-user"></i> Contact</li>
        </ul>
        </div>
    </header>
    <div id="content-row" class="row">
        <div id="sidebar" class="col-2">
            <div id="user-search-area" class="row">
                <input class="c-field" placeholder="Search Conversations" type="text" />
                <button type="button" class="c-button u-xsmall">Search</button>

            </div>
            <div id="conversation-area" class="row">
                <ul class="c-nav" style="width: 100%;">
                  <li class="c-nav__content u-centered c-text--loud">MY APP</li>
                  <li class="c-nav__item c-nav__item--success c-nav__item--active"><i class="fas fa-plus"></i> Create New</li>
                  <li class="c-nav__item"><i class="fas fa-home"></i> Home</li>
                  <li class="c-nav__item c-nav__item--brand"><i class="fas fa-question-circle"></i> About</li>
                  <li class="c-nav__item c-nav__item--info"><i class="fas fa-star"></i> News</li>
                  <li class="c-nav__item c-nav__item--error"><i class="fas fa-life-ring"></i> Help</li>
                </ul>
            </div>
        </div>
        <div class="col-10">
            <div id="message-area" class="row">
                messages
            </div>
            <div id="input-row" class="row">
                <div id="input-area" class="col-10">
                    <span>Send Message</span>
                    <br>
                    <div class="o-panel-container" style="height: 100%">
                        <div class="o-panel">
                            <textarea id="user-input-box"></textarea>
                        </div>
                    </div>
                </div>
                <div id="send-area" class="col-2">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../public/js/mainPageLogic.js"></script>
</body>
</html>