<!DOCTYPE html>
<html>
<head>
    <title>well_Sent.io</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
</head>
<body>
<div class="container">
    <header id="navbar" class="row">
        <div class="col-8"></div>
        <div class="col-4">
            <a id="logout" href="#">Logout</a>
        </div>
    </header>
    <div class="row">
        <div id="sidebar" class="col-2">
            <div id="user-search-area" class="row">
                search
            </div>
            <div id="conversation-area" class="row">
                conversations
            </div>
        </div>
        <div class="col-10">
            <div id="main-area" class="row">
                messages
            </div>
            <div class="row">
                <div id="input-area" class="col">
                    <textarea></textarea>
                </div>
                <div id="send-area" class="col">
                    <button>Send</button>
                </div>
            </div>
        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../public/js/mainPageLogic.js"></script>
</body>
</html>