<!DOCTYPE html>
<html>
<head>
	<title>well_Sent.io</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> 
  <link rel="stylesheet" href="https://unpkg.com/blaze/scss/dist/blaze.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">

</head>
<body>
<div class="container-fluid">
    <header id="topbar" class="row">
        <ul class="c-nav c-nav--light c-nav--inline">
          <li class="c-nav__item"><i class="fas fa-home"></i> Home</li>
          <li class="c-nav__item"><i class="fas fa-star"></i> News</li>
          <li class="c-nav__item c-nav__item--right"><i class="fas fa-user"></i> Contact</li>
        </ul>
<!--         <div class="col-10"></div>
        <div class="col-2">
            <a id="signin" href="">Login</a>
        </div> -->
    </header>
    <div id="content-row" class="row">
        <div class="col-md-3"></div>
        <div id="content-column" class="col-md-6" >
            <div class="u-center-block__content">
                <div class="c-card" id="signin-height">
                  <div class="c-card__item c-card__item--divider">Sign In</div>
                  <div class="c-card__body">
                    <form>
                        <label>Username: </label>
                        <input class="c-field" id="username-input" placeholder="Username" type="text">
                        <br>
                        <label>Password: </label>
                        <input class="c-field" id="password-input" placeholder="Password" type="text">
                        <br>
                        <input class="c-button c-button--info" type="submit" value="Go">
                    </form>
                    </div>
                </div>
                </div>
            <!-- <div class="form-container">
                <h2 id='content-title'>Sign Up</h2>
                <form>
                    <label>Username: </label>
                    <input id="username-input" type=text>
                    <br>
                    <label>Password: </label>
                    <input id="password-input" type="text">
                    <br>
                    <input id="submit-btn" type="submit" value="Go">
                </form>
            </div> -->
        </div>
        <div class="col-md-3"></div>
    </div>
</div>

<script src="https://code.jquery.com/jquery.js"></script>
<script type="text/javascript" src="../public/js/loginPageLogic.js"></script>
</body>
</html>