body {
	/*background-color: black;*/
}
.c-bubble{
	width:200px;
	display: block;

}
.c-bubble--left{
	float:right;
}
.c-nav{
	height:100%;
	background-color: purple;
}

button{
	margin: auto;
}

.container-fluid {
	height: 100%;
/*	width:100%;
*/	/*background-color: red;*/
}
#singin-height{
	width:25%;
	height:25%;
}
#topbar {
}

.content-row {
	height: 100%;
}

/*Login Page*/

.form-container {
	text-align: center;

	padding: 30px;

	border-width: 1px;
	border-color: black;
	border-style: solid;

	margin-top: 10%;
}

/*Main Page*/

#content-row {
	height: 96vh;
}

#sidebar {
	padding-left:auto;
	min-height: wrap;
}

#user-search-area, #conversation-area {
	
}

#user-search-area {
	height: 10%;
/*	border-bottom: 1px solid black;
*/}

.search-result {
	cursor: pointer;
}

#conversation-area {
	
}

#message-area {
	height: 80%;
	flex-wrap: wrap;
    margin-right: -15px;
    margin-left: 10px
}

#input-row {
	height: 20%;
/*	border-top: 1px solid black;
*/	bottom: 0;
	text-align: center;
}

#user-input-box {
	width: 90%;
	height: 70%;
}

#send-area {
/*	border-left: 1px solid black;
*/}